.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #282c34;
  color: white;
  position: sticky;
  top: 0;
  z-index: 5000;
}

.navbar-logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #61dafb;
  text-decoration: none;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}
.navbar-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navbar-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #61dafb;
}

.logout-button {
  background-color: #ff5c5c;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #ff2e2e;
}

.navbar_avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}

@media (max-width: 768px) {
  .navbar-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      background-color: #282c34;
      width: 100%;
      padding: 1rem;
      gap: 1rem;
  }
  
  .navbar-links.active {
      display: flex;
  }

  .hamburger {
      display: block;
  }
}
