.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f7fc;
  flex-direction: column;
}

.profile-card {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 20px 0px;
  text-align: center;
}

.profile-pic-container {
  position: relative;
  margin-bottom: 20px;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  border: 4px solid #282c34;
  transition: transform 0.3s ease-in-out;
}

.profile-pic:hover {
  transform: scale(1.1);
}

.profile-info h3 {
  font-size: 1.5rem;
  color: #333;
  margin: 10px 0;
}

.profile-email {
  font-size: 1rem;
  color: #777;
  margin-bottom: 20px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.update-btn,
.logout-btn {
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.update-btn {
  background-color: #28a745;
  color: #fff;
  border: none;
}

.update-btn:hover {
  background-color: #218838;
}

.logout-btn {
  background-color: #f44336;
  color: #fff;
  border: none;
}

.logout-btn:hover {
  background-color: #d32f2f;
}

.loading {
  font-size: 1.2rem;
  color: #333;
  text-align: center;
}

.user-posts {
  margin-top: 30px;
  width: 100%;
  max-width: 800px;
  text-align: left;
}

.user-posts h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.post-card {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.post-card h4 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.post-card p {
  font-size: 1rem;
  color: #666;
}
